state machine
{
  "Comment": "State machine to manage ECS service restarts ensuring only one service is restarted at a time",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Result": {
        "ExecutionInProgress": false
      },
      "ResultPath": "$.ExecutionStatus",
      "Next": "Check Running Execution"
    },
    "Check Running Execution": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ExecutionStatus.ExecutionInProgress",
          "BooleanEquals": true,
          "Next": "Wait and Retry"
        }
      ],
      "Default": "Set In-Process Flag"
    },
    "Set In-Process Flag": {
      "Type": "Pass",
      "ResultPath": "$.ExecutionStatus",
      "Result": {
        "ExecutionInProgress": true
      },
      "Next": "Get Task ID"
    },
    "Get Task ID": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:listTasks",
      "Parameters": {
        "Cluster.$": "$.ClusterName",
        "ServiceName.$": "$.ServiceName"
      },
      "ResultPath": "$.Tasks",
      "Next": "Restart Service"
    },
    "Restart Service": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:updateService",
      "Parameters": {
        "Cluster.$": "$.ClusterName",
        "Service.$": "$.ServiceName",
        "ForceNewDeployment": true
      },
      "Next": "Monitor Service"
    },
    "Monitor Service": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:describeServices",
      "Parameters": {
        "Cluster.$": "$.ClusterName",
        "Services.$": "$.ServiceName"
      },
      "Next": "Clear In-Process Flag"
    },
    "Clear In-Process Flag": {
      "Type": "Pass",
      "ResultPath": "$.ExecutionStatus",
      "Result": {
        "ExecutionInProgress": false
      },
      "End": true
    },
    "Wait and Retry": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check Running Execution"
    }
  }
}
