state machine
{
  "Comment": "Express Workflow to manage ECS service restarts ensuring no deployments are in progress",
  "StartAt": "Check Deployments",
  "States": {
    "Check Deployments": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:listServices",
      "Parameters": {
        "Cluster.$": "$.ClusterName"
      },
      "ResultPath": "$.Services",
      "Next": "Check Service Deployments"
    },
    "Check Service Deployments": {
      "Type": "Map",
      "ItemsPath": "$.Services.serviceArns",
      "Iterator": {
        "StartAt": "Describe Service",
        "States": {
          "Describe Service": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:ecs:describeServices",
            "Parameters": {
              "Cluster.$": "$.ClusterName",
              "Services.$": "$$.Map.Item.Value"
            },
            "ResultPath": "$.ServiceDetails",
            "Next": "Evaluate Service Deployment"
          },
          "Evaluate Service Deployment": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ServiceDetails.services[0].deployments",
                "IsPresent": true,
                "Next": "Check Deployment Status"
              }
            ],
            "Default": "No Ongoing Deployments"
          },
          "Check Deployment Status": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ServiceDetails.services[0].deployments[0].status",
                "StringEquals": "IN_PROGRESS",
                "Next": "Set Deployment In Progress"
              }
            ],
            "Default": "No Ongoing Deployments"
          },
          "Set Deployment In Progress": {
            "Type": "Pass",
            "Result": "Deployment In Progress",
            "ResultPath": "$.DeploymentStatus",
            "End": true
          },
          "No Ongoing Deployments": {
            "Type": "Pass",
            "Result": "No Deployment",
            "ResultPath": "$.DeploymentStatus",
            "End": true
          }
        }
      },
      "ResultPath": "$.DeploymentCheckResults",
      "Next": "Evaluate Deployment Status"
    },
    "Evaluate Deployment Status": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DeploymentCheckResults",
          "StringEquals": "Deployment In Progress",
          "Next": "Wait and Retry"
        }
      ],
      "Default": "Process Update"
    },
    "Wait and Retry": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check Deployments"
    },
    "Process Update": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:updateService",
      "Parameters": {
        "Cluster.$": "$.ClusterName",
        "Service.$": "$.ServiceName",
        "ForceNewDeployment": true
      },
      "HeartbeatSeconds": 300,  // Timeout to help manage long-running tasks
      "Next": "Wait Before Monitoring"
    },
    "Wait Before Monitoring": {
      "Type": "Wait",
      "Seconds": 300,  // 5 minutes wait
      "Next": "Monitor Service"
    },
    "Monitor Service": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:describeServices",
      "Parameters": {
        "Cluster.$": "$.ClusterName",
        "Services": [
          "$.ServiceName"
        ]
      },
      "End": true
    }
  }
}
